USE [master]
GO
/****** Object:  Database [MovieLens]    Script Date: 11/28/2015 11:06:50 PM ******/
CREATE DATABASE [MovieLens]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieLens', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MovieLens.mdf' , SIZE = 2414656KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'MovieLens_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MovieLens_log.ldf' , SIZE = 17592896KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieLens].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieLens]
GO
/****** Object:  User [IMACWIN10\Karl]    Script Date: 11/28/2015 11:06:50 PM ******/
CREATE USER [IMACWIN10\Karl] FOR LOGIN [IMACWIN10\Karl] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IMACWIN10\Karl]
GO
/****** Object:  FullTextCatalog [ft]    Script Date: 11/28/2015 11:06:50 PM ******/
CREATE FULLTEXT CATALOG [ft]WITH ACCENT_SENSITIVITY = ON
AS DEFAULT

GO
/****** Object:  Table [dbo].[MovieGenreMapping]    Script Date: 11/28/2015 11:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenreMapping](
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
 CONSTRAINT [PK_MoviesGenresMapping] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 11/28/2015 11:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[Genre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MovieGenres] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MovieRatings]    Script Date: 11/28/2015 11:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovieRatings](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [decimal](20, 4) NOT NULL,
	[Timestamp] [varchar](255) NOT NULL,
 CONSTRAINT [PK_MovieRatings] PRIMARY KEY NONCLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [idx_c_MovieRatings]    Script Date: 11/28/2015 11:06:50 PM ******/
CREATE CLUSTERED INDEX [idx_c_MovieRatings] ON [dbo].[MovieRatings]
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieTags]    Script Date: 11/28/2015 11:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovieTags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[MovieTag] [varchar](4000) NOT NULL,
	[Timestamp] [varchar](255) NOT NULL,
 CONSTRAINT [PK_MovieTags] PRIMARY KEY NONCLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [idx_c_MovieTags]    Script Date: 11/28/2015 11:06:50 PM ******/
CREATE CLUSTERED INDEX [idx_c_MovieTags] ON [dbo].[MovieTags]
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieTitles]    Script Date: 11/28/2015 11:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MovieTitles](
	[MovieID] [int] NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Genres] [varchar](4000) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[udf_SplitString]    Script Date: 11/28/2015 11:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf_SplitString] (@stringIn VARCHAR(MAX), @delimiter VARCHAR(MAX))
RETURNS TABLE
AS
RETURN
	WITH parseString AS(
		SELECT CAST(0 AS BIGINT) as index1, CHARINDEX(@delimiter, @stringIn) as index2
		UNION ALL
		SELECT index2+1, CHARINDEX(@delimiter, @stringIn, index2+1)
		  FROM parseString
		 WHERE index2 > 0
	)
	SELECT SUBSTRING(@stringIn, index1, COALESCE(NULLIF(index2,0), LEN(@stringIn) + 1) - index1) as value
	  FROM parseString;
GO
ALTER TABLE [dbo].[MovieGenreMapping]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenreMapping_MovieGenres] FOREIGN KEY([GenreID])
REFERENCES [dbo].[MovieGenres] ([GenreID])
GO
ALTER TABLE [dbo].[MovieGenreMapping] CHECK CONSTRAINT [FK_MovieGenreMapping_MovieGenres]
GO
ALTER TABLE [dbo].[MovieGenreMapping]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenreMapping_MovieTitles] FOREIGN KEY([MovieID])
REFERENCES [dbo].[MovieTitles] ([MovieID])
GO
ALTER TABLE [dbo].[MovieGenreMapping] CHECK CONSTRAINT [FK_MovieGenreMapping_MovieTitles]
GO
ALTER TABLE [dbo].[MovieRatings]  WITH CHECK ADD  CONSTRAINT [FK_MovieRatings_MovieTitles] FOREIGN KEY([MovieID])
REFERENCES [dbo].[MovieTitles] ([MovieID])
GO
ALTER TABLE [dbo].[MovieRatings] CHECK CONSTRAINT [FK_MovieRatings_MovieTitles]
GO
ALTER TABLE [dbo].[MovieTags]  WITH CHECK ADD  CONSTRAINT [FK_MovieTags_MovieTitles] FOREIGN KEY([MovieID])
REFERENCES [dbo].[MovieTitles] ([MovieID])
GO
ALTER TABLE [dbo].[MovieTags] CHECK CONSTRAINT [FK_MovieTags_MovieTitles]
GO
USE [master]
GO
